Data Prep and Imports

In [106]:
import pandas as pd
import numpy as np

leak_data_raw =  pd.read_csv("Gasleak Data Sets/sensor_readings.csv")
leak_data_raw.columns = ["temp","Time","Sensor 1", "Sensor 2", "Sensor 3", "Sensor 4", "Sensor 5", "Sensor 6", "Sensor 7", "Sensor 8", "Sensor 9", "Sensor 10", "Sensor 11", "Sensor 12", "Sensor 13", "Sensor 14", "Sensor 15", "Sensor 16", "Sensor 17", "Sensor 18", "Sensor 19", "Sensor 20", "Sensor 21", "Sensor 22", "Sensor 23", "Sensor 24"]

weather_df = pd.read_csv("Gasleak Data Sets/weather_data.csv")
columns_to_average = ['Barometric_Pressure', 'Humidity', 'Temperature', 'Wind_Direction', 'Wind_Speed']
for col in columns_to_average:
    weather_df[col] = weather_df.groupby('timestamp')[col].transform('mean')
weather_df = weather_df.drop_duplicates()
weather_df['timestamp'] = pd.to_datetime(weather_df['timestamp']).astype(int) // 10**9
weather_df = weather_df.rename(columns={'timestamp': 'tTime'})

leak_rate_df = pd.read_csv("Gasleak Data Sets/leak_locations_and_rate.csv")
leak_rate_df =  leak_rate_df[['LeakRate', 'tStart', 'tEnd', 'Duration']]
leak_rate_df['LeakRate'] = leak_rate_df.groupby('tStart')['LeakRate'].transform('mean')
leak_rate_df = leak_rate_df.drop_duplicates()

/var/folders/qt/r87857tx74n48x9wj7f9wljw0000gn/T/ipykernel_27531/2550901138.py:12: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  weather_df['timestamp'] = pd.to_datetime(weather_df['timestamp']).astype(int) // 10**9

In [107]:
leak_data_raw

,temp,Time,Sensor 1,Sensor 2,Sensor 3,Sensor 4,Sensor 5,Sensor 6,Sensor 7,Sensor 8,...,Sensor 15,Sensor 16,Sensor 17,Sensor 18,Sensor 19,Sensor 20,Sensor 21,Sensor 22,Sensor 23,Sensor 24
0,1,1681776002,1030.0,1049.0,1166.0,964.0,1023.0,1090.5,1039.5,1153.0,...,1120.0,735.0,1088.0,991.5,931.0,1040.0,1040.0,1111.0,1080.0,1089.0
1,2,1681776003,1033.0,1051.0,1163.0,974.0,993.0,1095.0,1044.0,1152.0,...,1104.5,765.0,1090.0,984.0,928.5,1043.0,1052.0,1105.5,1075.0,1095.0
2,3,1681776004,1022.0,1051.0,1160.0,975.5,974.0,1081.0,1049.0,1133.0,...,1089.0,762.0,1095.0,993.0,926.0,1039.0,1033.0,1100.0,1021.0,1093.0
3,4,1681776005,1034.0,1050.0,1165.0,977.0,988.0,1084.0,1019.0,1128.0,...,1082.0,762.0,1100.0,999.0,929.0,1047.5,1014.0,1107.0,1059.5,1110.0
4,5,1681776006,1037.5,1049.0,1155.0,977.0,971.0,1084.0,1027.0,1144.0,...,1070.0,763.0,1100.0,1004.5,944.0,1056.0,1019.0,1098.0,1098.0,1107.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83408,83409,1681862395,853.0,901.0,990.0,813.0,791.0,911.0,887.0,943.0,...,1041.0,661.0,1037.0,900.5,795.0,1007.0,955.0,1020.0,949.0,987.0
83409,83410,1681862396,852.5,899.0,1007.0,801.0,788.5,900.0,890.0,931.0,...,987.0,644.0,1056.0,901.0,799.5,1009.0,954.0,1018.0,955.0,986.0
83410,83411,1681862397,852.0,901.0,1011.0,811.0,786.0,909.0,899.0,945.0,...,964.0,643.0,1059.0,908.0,804.0,1016.0,961.0,1017.0,938.0,982.0
83411,83412,1681862398,859.0,912.0,1010.0,811.0,764.0,909.0,892.0,959.0,...,960.0,609.0,1071.0,897.0,802.0,1019.0,963.0,1026.0,948.0,990.0
83412,83413,1681862399,855.0,900.0,1010.0,806.0,786.0,913.0,901.0,962.0,...,955.0,640.0,1078.0,904.0,802.0,1019.0,953.0,1017.0,846.0,971.0

In [108]:
leak_data_raw['sensor_avg'] = 0
for i in range(len(leak_data_raw)):
    leak_data_raw.iloc[i,-1] =  leak_data_raw.iloc[i, 2:-1].mean()
leak_data_raw = leak_data_raw[['Time', 'sensor_avg']]

/var/folders/qt/r87857tx74n48x9wj7f9wljw0000gn/T/ipykernel_27531/3376645124.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '1050.1875' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  leak_data_raw.iloc[i,-1] =  leak_data_raw.iloc[i, 2:-1].mean()

In [109]:
leak_data_raw

             Time   sensor_avg
0      1681776002  1050.187500
1      1681776003  1049.416667
2      1681776004  1045.083333
3      1681776005  1048.854167
4      1681776006  1049.000000
...           ...          ...
83408  1681862395   920.666667
83409  1681862396   917.687500
83410  1681862397   920.166667
83411  1681862398   917.437500
83412  1681862399   913.833333

[83413 rows x 2 columns]

Merging Data Sets

In [112]:
# Leak and weather data merge
leak_data_raw['tTime'] = leak_data_raw['Time']
leak_data_raw['tTime'] = pd.to_datetime(leak_data_raw['tTime'], unit='s')
weather_df['tTime'] = pd.to_datetime(weather_df['tTime'], unit='s')

leak_data_raw['tTime'] = leak_data_raw['tTime'].dt.floor('min').dt.round('min')
df = pd.merge(leak_data_raw, weather_df, on='tTime', how='left')
df = df.drop(['tTime'], axis=1)

/var/folders/qt/r87857tx74n48x9wj7f9wljw0000gn/T/ipykernel_27531/175488773.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  leak_data_raw['tTime'] = leak_data_raw['Time']
/var/folders/qt/r87857tx74n48x9wj7f9wljw0000gn/T/ipykernel_27531/175488773.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  leak_data_raw['tTime'] = pd.to_datetime(leak_data_raw['tTime'], unit='s')
/var/folders/qt/r87857tx74n48x9wj7f9wljw0000gn/T/ipykernel_27531/175488773.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  leak_data_raw['tTime'] = leak_data_raw['tTime'].dt.floor('min').dt.round('min')

In [115]:
# Normalizing leak intensity
df['leak_amount'] = 0
for index, row in leak_rate_df.iterrows():
    in_range = df['Time'].between(row['tStart'], row['tEnd'], inclusive='both')
    df.loc[in_range, 'leak_amount'] = np.array((row['LeakRate'] * (row['Duration'])), dtype=np.int32)
df['leak_amount_norm'] = (df['leak_amount'] - df['leak_amount'].min()) / (df['leak_amount'].max() - df['leak_amount'].min())


# Final prep
df = df.drop(['leak_amount'],axis=1)
df = df.astype(dtype='float32')

In [116]:
df.head()

,Time,sensor_avg,Barometric_Pressure,Humidity,Temperature,Wind_Direction,Wind_Speed,leak_amount_norm
0,1.681776e+09,1050.187500,827.062073,31.740852,10.737401,320.569,1.784585,0.159328
1,1.681776e+09,1049.416626,827.062073,31.740852,10.737401,320.569,1.784585,0.159328
2,1.681776e+09,1045.083374,827.062073,31.740852,10.737401,320.569,1.784585,0.159328
3,1.681776e+09,1048.854126,827.062073,31.740852,10.737401,320.569,1.784585,0.159328
4,1.681776e+09,1049.000000,827.062073,31.740852,10.737401,320.569,1.784585,0.159328

Train Model

In [117]:
# Imports
import torch

import lightning as L
from torch.utils.data import TensorDataset, DataLoader
import model as m


model = m.LightningLSTM()

In [118]:
inputs = torch.tensor((df.iloc[:, :-1].to_numpy()))
labels =  torch.tensor((df['leak_amount_norm'].to_numpy()))

dataset =  TensorDataset(inputs, labels)
dataloader = DataLoader(dataset)

In [120]:
trainer = L.Trainer(max_epochs=50)
trainer.fit(model,train_dataloaders=dataloader)

GPU available: True (mps), used: True
TPU available: False, using: 0 TPU cores
IPU available: False, using: 0 IPUs
HPU available: False, using: 0 HPUs

  | Name | Type | Params
------------------------------
0 | lstm | LSTM | 16
------------------------------
16        Trainable params
0         Non-trainable params
16        Total params
0.000     Total estimated model params size (MB)

Epoch 0:   1%|          | 563/83413 [00:02<06:18, 218.96it/s, v_num=6]